<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzzh.charge.dao.CardDao">
    <resultMap id="BaseResultMap" type="com.hzzh.charge.model.Card">
        <id column="GUID_" jdbcType="VARCHAR" property="guid" />
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo" />
        <result column="CAR_NO" jdbcType="VARCHAR" property="carNo" />
        <result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId" />
        <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
        <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId" />
        <result column="OWNER_NAME" jdbcType="VARCHAR" property="ownerName" />
        <result column="CARD_BALANCE" jdbcType="DECIMAL" property="cardBalance" />
        <result column="CARD_STATUS" jdbcType="VARCHAR" property="cardStatus" />
        <result column="CARD_TYPE" jdbcType="VARCHAR" property="cardType" />
        <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
        <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <foreach collection="oredCriteria" item="criteria" separator="or">
            <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                                <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </foreach>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <foreach collection="example.oredCriteria" item="criteria" separator="or">
            <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                                <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </if>
        </foreach>
    </sql>
    <sql id="Base_Column_List">
        tec.GUID_,
        tec.CARD_NO,
        tec.CAR_NO,
        tec.COMPANY_ID,
        tec.COMPANY_NAME,
        tec.OWNER_ID,
        tec.OWNER_NAME,
        tec.CARD_BALANCE,
        tec.CARD_STATUS,
        tec.CARD_TYPE,
        tec.CREATOR_ID,
        tec.CREATOR_NAME,
        tec.CREATE_TIME
    </sql>
    <!-- 根据条件统计表中数据数量 所有数据 -->
    <select id="countByExample" parameterType="com.hzzh.charge.model.CardExample" resultType="java.lang.Integer">
        select
            count(*)
        from
            t_ev_card tec
        where
            1 = 1
        <if test="_parameter != null">
            <trim prefix="and (" suffix=")">
                <include refid="Example_Where_Clause" />
            </trim>
        </if>
    </select>
    <!-- 根据条件查询表中数据 所有数据 -->
    <select id="selectByExample" parameterType="com.hzzh.charge.model.CardExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct 
        </if>
        <include refid="Base_Column_List" />
        from
            t_ev_card tec
        where
            1 = 1
        <if test="_parameter != null">
            <trim prefix="and (" suffix=")">
                <include refid="Example_Where_Clause" />
            </trim>
        </if>
        <if test="orderByClause != null">
            order by
                ${orderByClause}
        </if>
        <if test="currentSize != null">
            limit #{currentSize} , #{pageSize}
        </if>
    </select>
    <!-- 往表中插入一条数据 系统字段需要输入 -->
    <insert id="insert" parameterType="com.hzzh.charge.model.Card">
        insert into
            t_ev_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            GUID_,
            CARD_NO,
            CAR_NO,
            COMPANY_ID,
            COMPANY_NAME,
            OWNER_ID,
            OWNER_NAME,
            CARD_BALANCE,
            CARD_STATUS,
            CARD_TYPE,
            CREATOR_ID,
            CREATOR_NAME,
            CREATE_TIME,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{guid,jdbcType=VARCHAR},
            #{cardNo,jdbcType=VARCHAR},
            #{carNo,jdbcType=VARCHAR},
            #{companyId,jdbcType=VARCHAR},
            #{companyName,jdbcType=VARCHAR},
            #{ownerId,jdbcType=VARCHAR},
            #{ownerName,jdbcType=VARCHAR},
            #{cardBalance,jdbcType=DECIMAL},
            #{cardStatus,jdbcType=VARCHAR},
            #{cardType,jdbcType=VARCHAR},
            #{creatorId,jdbcType=VARCHAR},
            #{creatorName,jdbcType=VARCHAR},
            #{createTime,jdbcType=VARCHAR},
        </trim>
    </insert>
    <!-- 往表中批量插入数据 系统字段需要输入 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into
            t_ev_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            GUID_,
            CARD_NO,
            CAR_NO,
            COMPANY_ID,
            COMPANY_NAME,
            OWNER_ID,
            OWNER_NAME,
            CARD_BALANCE,
            CARD_STATUS,
            CARD_TYPE,
            CREATOR_ID,
            CREATOR_NAME,
            CREATE_TIME,
        </trim>
        <foreach collection="list" item="item" open="values (" close=")" separator=" ), ( ">
            <trim suffixOverrides=",">
                #{item.guid,jdbcType=VARCHAR},
                #{item.cardNo,jdbcType=VARCHAR},
                #{item.carNo,jdbcType=VARCHAR},
                #{item.companyId,jdbcType=VARCHAR},
                #{item.companyName,jdbcType=VARCHAR},
                #{item.ownerId,jdbcType=VARCHAR},
                #{item.ownerName,jdbcType=VARCHAR},
                #{item.cardBalance,jdbcType=DECIMAL},
                #{item.cardStatus,jdbcType=VARCHAR},
                #{item.cardType,jdbcType=VARCHAR},
                #{item.creatorId,jdbcType=VARCHAR},
                #{item.creatorName,jdbcType=VARCHAR},
                #{item.createTime,jdbcType=VARCHAR},
            </trim>
        </foreach>
    </insert>
    <!-- 往表中插入一条数据 字段为空不插入 系统字段需要输入 -->
    <insert id="insertSelective" parameterType="com.hzzh.charge.model.Card">
        insert into
            t_ev_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                GUID_,
            </if>
            <if test="cardNo != null">
                CARD_NO,
            </if>
            <if test="carNo != null">
                CAR_NO,
            </if>
            <if test="companyId != null">
                COMPANY_ID,
            </if>
            <if test="companyName != null">
                COMPANY_NAME,
            </if>
            <if test="ownerId != null">
                OWNER_ID,
            </if>
            <if test="ownerName != null">
                OWNER_NAME,
            </if>
            <if test="cardBalance != null">
                CARD_BALANCE,
            </if>
            <if test="cardStatus != null">
                CARD_STATUS,
            </if>
            <if test="cardType != null">
                CARD_TYPE,
            </if>
            <if test="creatorId != null">
                CREATOR_ID,
            </if>
            <if test="creatorName != null">
                CREATOR_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="carNo != null">
                #{carNo,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="cardBalance != null">
                #{cardBalance,jdbcType=DECIMAL},
            </if>
            <if test="cardStatus != null">
                #{cardStatus,jdbcType=VARCHAR},
            </if>
            <if test="cardType != null">
                #{cardType,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!-- 往表中批量插入数据 字段为空不插入 系统字段需要输入 -->
    <insert id="insertListSelective" parameterType="java.util.List">
        insert into
            t_ev_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                GUID_,
            </if>
            <if test="cardNo != null">
                CARD_NO,
            </if>
            <if test="carNo != null">
                CAR_NO,
            </if>
            <if test="companyId != null">
                COMPANY_ID,
            </if>
            <if test="companyName != null">
                COMPANY_NAME,
            </if>
            <if test="ownerId != null">
                OWNER_ID,
            </if>
            <if test="ownerName != null">
                OWNER_NAME,
            </if>
            <if test="cardBalance != null">
                CARD_BALANCE,
            </if>
            <if test="cardStatus != null">
                CARD_STATUS,
            </if>
            <if test="cardType != null">
                CARD_TYPE,
            </if>
            <if test="creatorId != null">
                CREATOR_ID,
            </if>
            <if test="creatorName != null">
                CREATOR_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
        </trim>
        <foreach collection="list" item="item" open="values (" close=")" separator=" ), ( ">
            <trim suffixOverrides=",">
                <if test="item.guid != null">
                    #{item.guid,jdbcType=VARCHAR},
                </if>
                <if test="item.cardNo != null">
                    #{item.cardNo,jdbcType=VARCHAR},
                </if>
                <if test="item.carNo != null">
                    #{item.carNo,jdbcType=VARCHAR},
                </if>
                <if test="item.companyId != null">
                    #{item.companyId,jdbcType=VARCHAR},
                </if>
                <if test="item.companyName != null">
                    #{item.companyName,jdbcType=VARCHAR},
                </if>
                <if test="item.ownerId != null">
                    #{item.ownerId,jdbcType=VARCHAR},
                </if>
                <if test="item.ownerName != null">
                    #{item.ownerName,jdbcType=VARCHAR},
                </if>
                <if test="item.cardBalance != null">
                    #{item.cardBalance,jdbcType=DECIMAL},
                </if>
                <if test="item.cardStatus != null">
                    #{item.cardStatus,jdbcType=VARCHAR},
                </if>
                <if test="item.cardType != null">
                    #{item.cardType,jdbcType=VARCHAR},
                </if>
                <if test="item.creatorId != null">
                    #{item.creatorId,jdbcType=VARCHAR},
                </if>
                <if test="item.creatorName != null">
                    #{item.creatorName,jdbcType=VARCHAR},
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=VARCHAR},
                </if>
            </trim>
        </foreach>
    </insert>
    <!-- 根据条件修改数据 所有数据 -->
    <update id="updateByExample" parameterType="java.util.Map">
        update
            t_ev_card tec
        <trim prefix="set" suffix="" suffixOverrides=",">
            tec.GUID_ = #{record.guid,jdbcType=VARCHAR},
            tec.CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
            tec.CAR_NO = #{record.carNo,jdbcType=VARCHAR},
            tec.COMPANY_ID = #{record.companyId,jdbcType=VARCHAR},
            tec.COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
            tec.OWNER_ID = #{record.ownerId,jdbcType=VARCHAR},
            tec.OWNER_NAME = #{record.ownerName,jdbcType=VARCHAR},
            tec.CARD_BALANCE = #{record.cardBalance,jdbcType=DECIMAL},
            tec.CARD_STATUS = #{record.cardStatus,jdbcType=VARCHAR},
            tec.CARD_TYPE = #{record.cardType,jdbcType=VARCHAR},
            tec.CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
            tec.CREATOR_NAME = #{record.creatorName,jdbcType=VARCHAR},
            tec.CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
        </trim>
        where
            1 = 1
        <if test="_parameter != null">
            <trim prefix="and (" suffix=")">
                <include refid="Update_By_Example_Where_Clause" />
            </trim>
        </if>
    </update>
    <!-- 根据条件修改数据 字段为空不修改 所有数据 -->
    <update id="updateByExampleSelective" parameterType="java.util.Map">
        update
            t_ev_card tec
        <set>
            <if test="record.guid != null">
                tec.GUID_ = #{record.guid,jdbcType=VARCHAR},
            </if>
            <if test="record.cardNo != null">
                tec.CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
            </if>
            <if test="record.carNo != null">
                tec.CAR_NO = #{record.carNo,jdbcType=VARCHAR},
            </if>
            <if test="record.companyId != null">
                tec.COMPANY_ID = #{record.companyId,jdbcType=VARCHAR},
            </if>
            <if test="record.companyName != null">
                tec.COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
            </if>
            <if test="record.ownerId != null">
                tec.OWNER_ID = #{record.ownerId,jdbcType=VARCHAR},
            </if>
            <if test="record.ownerName != null">
                tec.OWNER_NAME = #{record.ownerName,jdbcType=VARCHAR},
            </if>
            <if test="record.cardBalance != null">
                tec.CARD_BALANCE = #{record.cardBalance,jdbcType=DECIMAL},
            </if>
            <if test="record.cardStatus != null">
                tec.CARD_STATUS = #{record.cardStatus,jdbcType=VARCHAR},
            </if>
            <if test="record.cardType != null">
                tec.CARD_TYPE = #{record.cardType,jdbcType=VARCHAR},
            </if>
            <if test="record.creatorId != null">
                tec.CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
            </if>
            <if test="record.creatorName != null">
                tec.CREATOR_NAME = #{record.creatorName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                tec.CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
            </if>
        </set>
        where
            1 = 1
        <if test="_parameter != null">
            <trim prefix="and (" suffix=")">
                <include refid="Update_By_Example_Where_Clause" />
            </trim>
        </if>
    </update>
    <!-- 根据条件删除数据 物理删除 -->
    <delete id="deleteByExample" parameterType="com.hzzh.charge.model.CardExample">
        delete from
            t_ev_card tec
        where
            1 = 1
        <if test="_parameter != null">
            <trim prefix="and (" suffix=")">
                <include refid="Example_Where_Clause" />
            </trim>
        </if>
    </delete>
    <!-- 根据主键查询数据 所有数据 -->
    <select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            t_ev_card tec
        where
            1 = 1
        and tec.GUID_ = #{guid}
    </select>
    <!-- 根据主键修改数据 所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.hzzh.charge.model.Card">
        update
            t_ev_card tec
        <set>
            tec.GUID_ = #{guid,jdbcType=VARCHAR},
            tec.CARD_NO = #{cardNo,jdbcType=VARCHAR},
            tec.CAR_NO = #{carNo,jdbcType=VARCHAR},
            tec.COMPANY_ID = #{companyId,jdbcType=VARCHAR},
            tec.COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
            tec.OWNER_ID = #{ownerId,jdbcType=VARCHAR},
            tec.OWNER_NAME = #{ownerName,jdbcType=VARCHAR},
            tec.CARD_BALANCE = #{cardBalance,jdbcType=DECIMAL},
            tec.CARD_STATUS = #{cardStatus,jdbcType=VARCHAR},
            tec.CARD_TYPE = #{cardType,jdbcType=VARCHAR},
            tec.CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
            tec.CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
            tec.CREATE_TIME = #{createTime,jdbcType=VARCHAR},
        </set>
        where
            1 = 1
        and tec.GUID_ = #{guid,jdbcType=VARCHAR}
    </update>
    <!-- 根据主键修改数据 字段为空不修改 所有数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.hzzh.charge.model.Card">
        update
            t_ev_card tec
        <set>
            <if test="guid != null">
                tec.GUID_ = #{guid,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null">
                tec.CARD_NO = #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="carNo != null">
                tec.CAR_NO = #{carNo,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                tec.COMPANY_ID = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                tec.COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                tec.OWNER_ID = #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="ownerName != null">
                tec.OWNER_NAME = #{ownerName,jdbcType=VARCHAR},
            </if>
            <if test="cardBalance != null">
                tec.CARD_BALANCE = #{cardBalance,jdbcType=DECIMAL},
            </if>
            <if test="cardStatus != null">
                tec.CARD_STATUS = #{cardStatus,jdbcType=VARCHAR},
            </if>
            <if test="cardType != null">
                tec.CARD_TYPE = #{cardType,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                tec.CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                tec.CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                tec.CREATE_TIME = #{createTime,jdbcType=VARCHAR},
            </if>
        </set>
        where
            1 = 1
        and tec.GUID_ = #{guid,jdbcType=VARCHAR}
    </update>
    <!-- 根据主键删除数据 物理删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.util.Map">
        delete from
            t_ev_card
        where
            1 = 1
        and GUID_ = #{guid}
    </delete>
</mapper>