<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzzh.charge.dao.CompanyDao">

    <!--通过公司id查询公司名称-->
    <resultMap id="queryCompany" type="com.hzzh.charge.model.company_po.QueryCompany">
        <result column="GUID_" property="guid"/>
        <result column="NAME_" property="name"/>
    </resultMap>
    <select id="queryCompanyById" resultMap="queryCompany">
        SELECT
        c.GUID_,
        c.NAME_
        FROM
        tb_sys_company c
        WHERE
        c.GUID_=#{guid}
    </select>
    <select id="queryAllCompany" resultMap="queryCompany">
        SELECT
        c.GUID_,
        c.NAME_
        FROM
        tb_sys_company c
    </select>
</mapper>