<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzzh.charge.dao.OrderDao">

    <resultMap id="query_Map" type="com.hzzh.charge.model.order_po.CustomOrder">
        <result column="CAR_NO" property="carNo"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="NAME_" property="stationName"/>
        <result column="devName" property="devName"/>
    </resultMap>
    <!--查询车牌号-->
    <select id="queryCarNo" resultMap="query_Map">
        SELECT
        c.CAR_NO,
        c.COMPANY_ID
        FROM
        t_ev_card c
        WHERE
        c.CARD_NO=#{cardNo}
    </select>
    <!--查询公司id-->
    <select id="queryCompany" resultMap="query_Map">
        SELECT
        s.COMPANY_ID
        FROM
        tb_base_station s
        WHERE
        s.CODE_=#{stationCode}
    </select>
    <!--查询站名称-->
    <select id="queryStationName" resultMap="query_Map">
        SELECT
        s.NAME_
        FROM
        tb_base_station s
        WHERE
        s.CODE_=#{stationCode}
    </select>
    <!--查询设备名称-->
    <select id="queryDevName" resultMap="query_Map">
        SELECT
        d.NAME_ devName
        FROM
        tb_base_dev d
        WHERE
        d.CODE_=#{devCode}
        and
        d.STATION_CODE=#{stationCode}
    </select>
    <!--查询当前订单-->
    <resultMap id="order_map" type="com.hzzh.charge.model.order_po.CurrentOrder">
        <result column="CARD_NO" property="cardNo"/>
        <result column="CHARGE_BEGIN" property="chargeBegin"/>
        <result column="CHARGE_END" property="chargeEnd"/>
        <result column="ELECTRIC_CHARGE" property="electricCharge"/>
        <result column="EXPENSE" property="expense"/>
        <result column="BALANCE_" property="balance"/>
        <result column="DEV_NAME" property="devName"/>
        <result column="STATION_NAME" property="stationName"/>
        <result column="CAR_NO" property="carNo"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="STATUS_" property="status"/>
        <result column="STATION_CODE" property="stationCode"/>
        <result column="DEV_CODE" property="devCode"/>
        <result column="PORT_" property="port"/>
    </resultMap>
    <select id="currentOrder" resultMap="order_map" parameterType="string">
        SELECT
        o.CAR_NO,
        o.EXPENSE,
        o.ELECTRIC_CHARGE,
        o.CARD_NO,
        o.STATION_NAME,
        o.DEV_NAME,
        o.CHARGE_BEGIN,
        o.CHARGE_END,
        o.BALANCE_,
        o.COMPANY_ID,
        o.STATUS_,
        o.STATION_CODE,
        o.DEV_CODE,
        o.PORT_
        FROM
        t_ev_order o
        <where>
            and o.STATUS_='2'
            <if test="cardNo!='' and cardNo!=null">
                and (o.CARD_NO LIKE '%${cardNo}%' or o.CAR_NO LIKE '%${cardNo}%')
            </if>
            and o.COMPANY_ID=#{companyId}
        </where>
        order by o.CHARGE_BEGIN
    </select>

</mapper>