<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzzh.charge.dao.OrderDao">

    <resultMap id="query_Map" type="com.hzzh.charge.model.order_po.CustomOrder">
        <result column="CAR_NO" property="carNo"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="NAME_" property="stationName"/>
        <result column="devName" property="devName"/>
    </resultMap>
    <!--查询车牌号-->
    <select id="queryCarNo" resultMap="query_Map">
        SELECT
        c.CAR_NO
        FROM
        t_ev_card c
        WHERE
        c.CARD_NO=#{cardNo}
    </select>
    <!--查询公司id-->
    <select id="queryCompany" resultMap="query_Map">
        SELECT
        s.COMPANY_ID
        FROM
        tb_base_station s
        WHERE
        s.CODE_=#{stationCode}
    </select>
    <!--查询站名称-->
    <select id="queryStationName" resultMap="query_Map">
        SELECT
        s.NAME_
        FROM
        tb_base_station s
        WHERE
        s.CODE_=#{stationCode}
    </select>
    <!--查询设备名称-->
    <select id="queryDevName" resultMap="query_Map">
        SELECT
        d.NAME_ devName
        FROM
        tb_base_dev d
        WHERE
        d.CODE_=#{devCode}
        and
        d.STATION_CODE=#{stationCode}
    </select>
    <!--更新当前订单-->
    <update id="updateCurrentOrder" parameterType="com.hzzh.charge.model.Order">
        UPDATE
        t_ev_order o
        SET
        o.CHARGE_END=#{chargeEnd},
        o.ELECTRIC_CHARGE=#{electricCharge},
        o.ELECTRIC_CHARGE_J=#{electricChargeJ},
        o.ELECTRIC_CHARGE_F=#{electricChargeF},
        o.ELECTRIC_CHARGE_P=#{electricChargeP},
        o.ELECTRIC_CHARGE_G=#{electricChargeG},
        o.EXPENSE=#{expense},
        o.EXPENSE_J=#{expenseJ},
        o.EXPENSE_F=#{expenseF},
        o.EXPENSE_P=#{expenseP},
        o.EXPENSE_G=#{expenseG},
        o.MONETARY=#{monetary},
        o.BALANCE_=#{balance},
        o.STATUS_='3'
        WHERE
        o.CARD_NO=#{cardNo}
        AND
        o.STATION_CODE=#{stationCode}
        AND
        o.DEV_CODE=#{devCode}
        AND
        (o.CHARGE_END is null or o.CHARGE_END='')
        AND
        o.PORT_=#{port}

    </update>
    <!--查询重复数据-->
    <resultMap id="repeat_Map" type="com.hzzh.charge.model.Order">
        <result column="CARD_NO" property="cardNo"/>
        <result column="CHARGE_BEGIN" property="chargeBegin"/>
        <result column="CHARGE_END" property="chargeEnd"/>
        <result column="STATION_CODE" property="stationCode"/>
        <result column="DEV_CODE" property="devCode"/>
        <result column="PORT_" property="port"/>
        <result column="STATUS_" property="status"/>
    </resultMap>
    <select id="queryRepeat" resultMap="repeat_Map">
        SELECT
        o.CARD_NO,
        o.CHARGE_BEGIN,
        o.CHARGE_END,
        o.STATION_CODE,
        o.DEV_CODE,
        o.PORT_,
        o.STATUS_
        FROM
        t_ev_order o
        WHERE
        o.CARD_NO=#{cardNo}
        AND
        o.CHARGE_BEGIN=#{chargeBegin}
        AND
        o.STATION_CODE=#{stationCode}
        AND
        o.DEV_CODE=#{devCode}
        AND
        o.PORT_=#{port}


    </select>
    <!--查询当前订单-->
    <resultMap id="order_map" type="com.hzzh.charge.model.order_po.CurrentOrder">
        <result column="CARD_NO" property="cardNo"/>
        <result column="CHARGE_BEGIN" property="chargeBegin"/>
        <result column="CHARGE_END" property="chargeEnd"/>
        <result column="ELECTRIC_CHARGE" property="electricCharge"/>
        <result column="EXPENSE" property="expense"/>
        <result column="BALANCE_" property="balance"/>
        <result column="DEV_NAME" property="devName"/>
        <result column="STATION_NAME" property="stationName"/>
        <result column="CAR_NO" property="carNo"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="STATUS_" property="status"/>
        <result column="STATION_CODE" property="stationCode"/>
        <result column="DEV_CODE" property="devCode"/>
        <result column="PORT_" property="port"/>
    </resultMap>
    <select id="currentOrder" resultMap="order_map" parameterType="string">
        SELECT
        o.CAR_NO,
        o.EXPENSE,
        o.ELECTRIC_CHARGE,
        o.CARD_NO,
        o.STATION_NAME,
        o.DEV_NAME,
        o.CHARGE_BEGIN,
        o.CHARGE_END,
        o.BALANCE_,
        o.COMPANY_ID,
        o.STATUS_,
        o.STATION_CODE,
        o.DEV_CODE,
        o.PORT_
        FROM
        t_ev_order o
        <where>
            and o.STATUS_='2'
            <if test="cardNo!='' and cardNo!=null">
                and (o.CARD_NO LIKE '%${cardNo}%' or o.CAR_NO LIKE '%${cardNo}%')
            </if>
            and o.COMPANY_ID=#{companyId}
        </where>
        order by o.CHARGE_BEGIN
    </select>

    <update id="beforeUpdate" parameterType="string">
        UPDATE
        t_ev_order o
        SET
        o.STATUS_='3'
        WHERE
        o.CARD_NO =#{cardNo}
        AND
        o.STATION_CODE!=#{stationCode}
        AND
        o.DEV_CODE!=#{devCode}
        AND
        o.PORT_!=#{port}
        AND
        o.STATUS_='2'
    </update>

    <!--更新长时间不能结算的订单-->
    <update id="specialUpdate" parameterType="string">
        UPDATE
        t_ev_order o
        SET
        o.STATUS_='3'
        WHERE
        o.CARD_NO!=#{cardNo}
        AND
        o.STATION_CODE=#{stationCode}
        AND
        o.DEV_CODE=#{devCode}
        AND
        o.PORT_=#{port}
        AND
        o.STATUS_='2'
    </update>


    <!--根据条件查询所有数据用于车辆日充电详细报表导出-->
    <resultMap id="export_Map" type="com.hzzh.charge.model.order_po.ExportOrder">
        <result column="CAR_NO" property="carNo"/>
        <result column="CARD_NO" property="cardNo"/>
        <result column="CHARGE_BEGIN" property="chargeBegin"/>
        <result column="CHARGE_END" property="chargeEnd"/>
        <result column="STATION_NAME" property="stationName"/>
        <result column="DEV_NAME" property="devName"/>
        <result column="DEV_NAME" property="devName"/>
        <result column="ELECTRIC_CHARGE" property="electricCharge"/>
        <result column="EXPENSE" property="expense"/>
    </resultMap>
    <select id="exportOrder" resultMap="export_Map">
        SELECT
        o.CAR_NO,
        o.CARD_NO,
        o.CHARGE_BEGIN,
        o.CHARGE_END,
        o.STATION_NAME,
        o.DEV_NAME,
        o.ELECTRIC_CHARGE,
        o.EXPENSE
        FROM
        t_ev_order o
        <where>
            and o.STATUS_='3'
            and o.COMPANY_ID=#{companyId}
            <if test="startTime!=null and startTime!=''">
                and DATE_FORMAT(o.CHARGE_BEGIN,'%Y%m%d%H%i%s') &gt;=DATE_FORMAT(#{startTime},'%Y%m%d%H%i%s')
            </if>
            <if test="endTime!=null and endTime!=''">
                and DATE_FORMAT(o.CHARGE_END,'%Y%m%d%H%i%s') &lt;=DATE_FORMAT(#{endTime},'%Y%m%d%H%i%s')
            </if>
            <if test="stationName!='' and stationName!=null">
                and o.STATION_NAME=#{stationName}
            </if>
            <if test="cardNo!='' and cardNo!=null">
                and (o.CARD_NO LIKE '%${cardNo}%' or o.CAR_NO LIKE '%${cardNo}%')
            </if>

        </where>
        order by o.CHARGE_BEGIN
    </select>

    <!--更新order表中没有车牌号的车辆-->
    <update id="updateCarNo" parameterType="string">
        UPDATE
        t_ev_order o
        SET
        o.CAR_NO=#{carNo}
        WHERE
        o.CARD_NO=#{cardNo}
        AND
        (o.CAR_NO is null or o.CAR_NO='')
    </update>


    <!--=======================================图表(车辆月充电统计)===============================================-->

    <!--查询指定月的尖，峰，平，谷的电量-->
    <resultMap id="Monthly_Data_Map" type="com.hzzh.charge.model.order_po.CarMonthlyChart">
        <result column="CARD_NO" property="cardNo"/>
        <result column="CAR_NO" property="carNo"/>
        <result column="CHARGE_BEGIN" property="chargeBegin"/>
        <result column="charge_J" property="electricChargeJ"/>
        <result column="charge_F" property="electricChargeF"/>
        <result column="charge_P" property="electricChargeP"/>
        <result column="charge_G" property="electricChargeG"/>
    </resultMap>
    <select id="QueryMonthlyData" resultMap="Monthly_Data_Map">
        SELECT
        o.CARD_NO,
        o.CAR_NO,
        o.CHARGE_BEGIN,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_J,0.00)),2) charge_J,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_F,0.00)),2) charge_F,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_P,0.00)),2) charge_P,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_G,0.00)),2) charge_G,
        DATE_FORMAT(o.CHARGE_BEGIN,'%Y-%m-%d') days
        FROM
        t_ev_order o
        <where>
            AND
            o.STATUS_='3'
            AND
            o.COMPANY_ID=#{companyId}
            AND
            o.CARD_NO=#{cardNo}
            <if test="dateTime!='' and dateTime!=null">
                AND
                DATE_FORMAT(#{dateTime},'%Y%m%')=DATE_FORMAT(o.CHARGE_BEGIN,'%Y%m%')
            </if>

        </where>
        GROUP BY o.CARD_NO,days
    </select>


    <!--=======================================图表(场站月电量统计)===============================================-->
    <resultMap id="station_Chart_Map" type="com.hzzh.charge.model.order_po.StationMonthlyChart">
     <result column="STATION_NAME" property="stationName"/>
     <result column="CHARGE_BEGIN" property="chargeBegin"/>
     <result column="charge_J" property="charge_J"/>
     <result column="charge_F" property="charge_F"/>
     <result column="charge_P" property="charge_P"/>
     <result column="charge_G" property="charge_G"/>
    </resultMap>
    <select id="stationMonthlyChart" resultMap="station_Chart_Map">
        SELECT
        o.STATION_NAME,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_J,0.00)),2) charge_J,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_F,0.00)),2) charge_F,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_P,0.00)),2) charge_P,
        ROUND(SUM(IFNULL(o.ELECTRIC_CHARGE_G,0.00)),2) charge_G,
        o.CHARGE_BEGIN,
        DATE_FORMAT(o.CHARGE_BEGIN,'%Y-%m-%d') days
        FROM
        t_ev_order o
        <where>
          AND
          o.STATUS_='3'
          AND
          o.COMPANY_ID=#{companyId}
          AND
          o.STATION_NAME=#{stationName}
          <if test="dateTime!='' and dateTime!=null">
          AND
          DATE_FORMAT(#{dateTime},'%Y%m%')=DATE_FORMAT(o.CHARGE_BEGIN,'%Y%m%')
          </if>
        </where>
          GROUP BY o.STATION_NAME,days
    </select>

</mapper>